<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
h1,h3{
  text-align: center;
}

.col{
  background-color: #E6E6FA
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
</style>
</head>
   <body   class="col" >
  	<h1 > Home</h1>
 	<h3 t>Welcome buddy in Fortraiz</h3>
  <div class="form-actions">
      <a href="/#/logout" class="btn btn-primary">Logout</a>
  </div>


   </body>
</html>
